<%- include('../admin/header.ejs') %>

<div class="content mt-3">
    <div class="container">
        <h1 class="text-center"
        style="color: black; font-family: 'Raleway',sans-serif; font-size: 43px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">
        WELCOME ADMIN  </h1>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 p-5">
                <!-- <a href="/admin/dashboard" class="btn btn-info">Back To Dashboard</a> -->
          
            <hr>
            <img src="/assets/images/wel.jpg" alt="welcomeimage">
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
        
        </div>
        </div>