<%- include('../admin/header.ejs') %>

<div class="content mt-3">
    <div class="container">
        <!-- <a href="/admin/dashboard" class="btn btn-info">Back To Dashboard</a> -->
        <h1 class="text-center"
            style="color: black; font-family: 'Raleway',sans-serif; font-size: 43px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">
            WELCOME ADMIN  </h1>
            <hr>
            <img src="/assets/images/wel.jpg" alt="welcomeimage">
        
        </div>
        </div>