
/* .back{
  background-image: url('https://image.shutterstock.com/image-vector/young-mix-race-students-group-260nw-1460612837.jpg');
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;

} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navFontStyle{
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  position: relative;
  padding: 1.5rem;
}
.navlink{
color: #aaa;
}   
h1 {
padding: 10px 0;
font-size: 32px;
font-weight: 300;
text-align: center;
}
p {
font-size: 12px;
}
hr {
color: #a9a9a9;
opacity: 0.3;
}
button {
width: 100%;
padding: 10px 0;
margin: 10px auto;
border-radius: 5px; 
border: none;
background: #d849b588; 
font-size: 14px;
font-weight: 600;
color: #fff;
}
button:hover {
background: #d849b588;
}
.plus .add:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
.ad{
  background: radial-gradient(circle, rgba(44,38,38,1) 0%, rgba(151,117,130,1) 100%);
}

/* start contact form */

svg {
	height: 23rem;
	margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.con {
	height: 100vh;
}

.fom {
	min-width: 25rem;
}
.tit {
		font-family: 'Pacifico', cursive;
		color: #212529;
		font-size: 2.5rem;
	}

  .fom-c {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
  }
		
  .thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
    focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}

    .fom-c .message  {
			padding: .5rem 1.8rem;
	}
	
  .fom-c .placeholder {
    font-family: 'Quicksand', sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input,
  textarea {
		font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }
	
  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }

  .bpm {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
  }
  .ic {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
  
  /* .btn.btn-primary.bpm:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
  } */

  .mainDivv{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
  }
  .mainDivv h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;

  }
  .mainDivv p{
    font-size: 2rem;
  }
  .upper-div{
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  .mainDivv{
    overflow: hidden;
  }
  .upper-div{
    overflow: hidden;
  }
  body{
    background: #eceef1;
  }
/* end contact form */

/* start gallery */
.one {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.two {
  width: 40%;
}
.three {
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 3rem 0;
  border-bottom: 3px solid #222;
  padding-bottom: 10px;
}
.th {
  font-weight: 300;
  letter-spacing: 3px;
  padding: 3px 10px;
  background: #fff;
  color: #000;
}
.fo {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.four {
  display: flex;
  flex-direction: column;
  width: 32.6%;
}
.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.full-img img {
  width: 50%;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 20px;
  border-radius: 50%;
  padding: 3px 9px;
  color: #fff;
  cursor: pointer;
}

.full-img span:hover {
  background: #fff;
  color: #000;
}
/* end gallery */
